<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @trip, class: "edit-trip" do |f| %>
<p> Edit the trip here: </p>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :passenger %>
  <%= f.select :passenger_id, Passenger.all.map {|passenger| [passenger.name, passenger.id]}  %>

  <%= f.label :driver %>
  <%= f.select :driver_id, Driver.all.map {|driver| [driver.name, driver.id]}  %> 

  <%= f.submit "Save Trip", class: "submit-btn" %>
<% end %>