<%= form_with model: @trip, class: form_class do |f| %>
<p> Edit the trip here: </p>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.label :passenger_id %>
  <%= f.text_field :passenger_id %>

  <%= f.label :driver_id %>
  <%= f.text_field :driver_id %>

  <%= f.submit "Save Trip", class: "submit-btn" %>
<% end %>