<h1>Trip Show View <%= @trip.id%></h1>
Trip Date: <br>
<%= @trip.date%>
<br>
Trip Rating: <br>
<%= @trip.rating.to_i %><br>
Trip cost: <br>
<%= @trip.cost%> <br>

Trip Driver ID: <br>
<%= @trip.driver_id%> <br>

Trip Passenger ID: <br>
<%= @trip.passenger_id%><br>


<%= link_to "Edit Trip", edit_trip_path(@trip.id) %>
<%= link_to "Delete Trip", trip_path(@trip.id), :data => {:confirm => 'Are you sure you want to delete the trip?'}, method: :delete %>
<%= link_to "Return to All Passengers", passengers_path %>
<br>
<%= link_to "Homepage", "/" %>

<p>Testing</p>