<h1>Passenger Show View</h1>
 
<% if @passenger.trips.empty? || !@passenger.trips.last.rating.nil? %>
    <%= button_to "Request a Ride", "/passengers/#{@passenger.id}/trips", method: :post %>
<% elsif @passenger.trips.last.rating.nil? %>
    <%= form_with model: @passenger.all_trips.last, class: "trip-rating" do |f| %>
        <%= f.label :rating %>
        <%= f.text_field :rating %>
        <%= f.submit "Submit Rating", class: "trip_rating_btn", method: :patch%>
    <% end %>
<% end %>

<%# form_with model: @trip, class: "new-trip" do |f| %>
<%# f.submit "request_trip", class: "new_trip__button" %>
<%# end %>


<%= @passenger.id %>
<%= @passenger.name%>
<br>
<%= @passenger.phone_num%>
<br>
This is the total cost
<%= @passenger.total_cost %><br>
This is all the trips the passenger went on: <br>
<% @passenger.all_trips.each do |trip|%>
    <%# link_to "#{trip.id}", passenger_trip_path(@passenger.id) %>
    <%= link_to "#{trip.id}", "/passengers/#{@passenger.id}/trips/#{trip.id}" %>
    <%= trip.date%>
    <br>
<% end %>

<div class="bottom-links">
<%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %> <br>
<%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you'd like to delete this passenger?"} %> <br>
<%= link_to "Return to All Passengers", passengers_path %> <br>
<%= link_to "Homepage", "/" %>
</div>