<main class="show-one">

    <ul class="person-info"> 
        <img src="http://placekitten.com/150/150">   
        <div id="personal-info">
            <li>Name: <%= @passenger.name %></li>
            <li>Passenger ID: <%= @passenger.id %> </li>
            <li>Phone Number: <%= @passenger.phone_num %> </li>
            <li>Total Cost: $<%= @passenger.total_cost %> </li>
            <li><%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %> </li>
            <li><%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you'd like to delete this passenger?"} %> 
        </div>
    </ul>

    <div class="request-trip">
    <% if @passenger.trips.empty? || !@passenger.trips.last.rating.nil? %>
        <%= button_to "Request a Ride", passenger_trips_path(@passenger.id), method: :post %>

    <% elsif @passenger.trips.last.rating.nil? %>
        <%= form_with model: @passenger.all_trips.last, class: "trip-rating" do |f| %>
            <%= f.label :rating %>
            <%= f.text_field :rating %>
            <%= f.submit "Submit Rating", class: "trip_rating_btn", method: :patch%>
        <% end %>
    <% end %>
    </div>

    <div class="table">
        <h2>Trips</h2> 
        <table>
            <tr>
                <th>Trip ID</th>
                <th>Date</th>
                <th>Driver</th>
                <th>Passenger</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
            <% @passenger.all_trips.each do |trip|%>
                <tr>
                <th><%= link_to "#{trip.id}", passenger_trip_path(@passenger.id, trip.id) %></th>
                <th><%= trip.date%> </th>
                <th><%= trip.driver.name%> </th>
                <th><%= trip.passenger.name%> </th>
                <th>$<%= trip.cost%> </th>
                <th><%= trip.rating%> </th>
                </tr>
            <% end %>
        </table>
    </div>
    
</main>