<%= form_with model: @create_driver, class: form_class do |f| %>
<p> <%= intro_text %> </p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin%>
  <%= f.text_field :vin %>

  <%= f.submit action_name, class: "create_driver__submit-btn" %>
<% end %>