<main class="show-one">

    <ul class="person-info">
        <img src="https://picsum.photos/150/150" >
        <div id="personal-info">
            <li>Name: <%= @driver.name %></li>
            <li>Driver ID: <%= @driver.id %> </li>
            <li>VIN: <%= @driver.vin %> </li>
            <li>Average Rating: <%= @driver.average_rating.to_i %> </li>
            <li>$<%= @driver.total_earnings %></li>
            <li><%= link_to "Edit Driver", edit_driver_path(@driver.id)%></li>
            <li><%= link_to "Delete", driver_path(@driver.id), :data => {:confirm => 'Are you sure?'}, method: :delete%></li>
        </div>
    </ul>

    <div class="driver-status">
        <% if @driver.availability == true %>
            <div id="go-offline"> 
                <%= link_to "Go Offline", toggle_online_path(@driver.id, driver: {availability: false }), method: :patch %>
            </div>
        <% else %>
            <div id="go-online">
                <%= link_to "Go Online", toggle_online_path(@driver.id, driver: {availability: true }), method: :patch %>
            </div>        
        <% end%>
    </div>

<div class="table">
    <h2>Trips</h2>
    <table>
        <tr>
            <th>Trip ID</th>
            <th>Date</th>
            <th>Driver</th>
            <th>Passenger</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        <% @driver.all_trips.each do |trip |%>
            <tr>
            <th><%= link_to "#{trip.id}", driver_trip_path(@driver.id, trip.id) %></th>
            <th><%= trip.date %></th>
            <th> <%=trip.driver.name%> </th>
            <th><%= link_to "#{trip.passenger.name}", passenger_path(trip.passenger_id)%> </th>
            <th>$<%= trip.cost%> </th>
            <th><%= trip.rating.to_i%> </th>
            </tr>
        <% end %>
    </table>
</div>


</main>