<main class="show-one">

    <ul class="personal-info">
        <img src="https://picsum.photos/150/150" >
        <div id="personal-info">
            <li>Name: <%= @driver.name %></li>
            <li>Driver ID: <%= @driver.id %> </li>
            <li>VIN: <%= @driver.vin %> </li>
        </div>
    </ul>
    <% if @driver.availability == true %>
        <%#= button_to @driver.availability, driver_path(@driver.id), method: :patch %>
        <%= link_to "Go Offline", toggle_online_path(@driver.id, driver: {availability: false }), method: :patch %>
    <% else %>
        <%= link_to "Go Online", toggle_online_path(@driver.id, driver: {availability: true }), method: :patch %>
    <% end%>

This is all the trips this driver went on: <br>
<% @driver.all_trips.each do |trip |%>
    <%= link_to "#{trip.id}", driver_trip_path(@driver.id, trip.id) %>,
    <%= trip.date %>
    <br>
<% end %>

This is this driver's average rating: <br>
<%= @driver.average_rating %>
<br>

This is the driver's total earnings: <br>
$<%= @driver.total_earnings %>
<br>

<%= link_to "Edit", edit_driver_path(@driver.id)%>
<%= link_to "Delete", driver_path(@driver.id), :data => {:confirm => 'Are you sure?'}, method: :delete%>
<%= link_to "Back to All Drivers", drivers_path %>
<Br>
<%= link_to "Homepage", "/" %>

</main>