<!DOCTYPE html>
<html>
  <head>
    <title>Ooobur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><h1><%= link_to "Ooobur", "/" %> </h1></li>
        <li class="dropdown">
          <button class="dropbtn">Passengers<i class="fa fa-caret-down"></i></button>
          <div class="dropdown-content"> 
            <%= link_to "All Passengers", passengers_path %>
            <%= link_to "Create New Passenger", new_passenger_path %>
          </div>
        </li>
        <li class="dropdown">
          <button class="dropbtn">Drivers<i class="fa fa-caret-down"></i></button>
          <div class="dropdown-content"> 
            <%= link_to "All Drivers", drivers_path %>
            <%= link_to "Create New Driver", new_driver_path %>
          </div>
        </li>
      </ul>
    </nav>
    <main>
    <%= yield %>
    </main>
    <footer> &copy; Sopheary and Angela; 2019</footer>
  </body>
</html>
